<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid issues-content">
    <form class="mdl-cell mdl-cell--12-col" id="search-input-form">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-input">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          {{input value=searchInput class="mdl-textfield__input" type="text" id="search-input"}}
          <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
        </div>
      </div>
    </form>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col" id="issues-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-ascending"
              {{action "sortByProperty" "customer_surname"}}>
            Name
          </th>
          <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-ascending"
            {{action 'sortByProperty' 'email'}}>
            Email
          </th>
          <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-ascending"
              {{action "sortByProperty" "timestamp"}}>
              Date
          </th>
          <th class="mdl-data-table__cell--non-numeric">Status</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
        </tr>
      </thead>
      <tbody>
        {{#each filteredContent as |issue|}}
          {{#issues-data-table issueId=issue.id tagName="tr" class="issues-data"}}
            <td class="mdl-data-table__cell--non-numeric">{{issue.customer_surname}}&nbsp;{{issue.customer_name}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{issue.email}}</td>
            <td class="mdl-data-table__cell--non-numeric table-date">{{time-formater issue.timestamp 'DD/MM/YYYY'}}</td>
            <td class="mdl-data-table__cell--non-numeric issue-status {{if issue.is_closed 'issue-closed'}}">
              {{#if issue.is_closed}}Closed
              {{else}}Open
              {{/if}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{issue.issue_desc}}</td>
          {{/issues-data-table}}
        {{/each}}
      </tbody>
    </table>
  </div>
</main>
