<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid issues-content">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col" id="issues-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-ascending">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Email</th>
          <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-ascending">Date</th>
          <th class="mdl-data-table__cell--non-numeric">Status</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedModel as |issue|}}
          {{#issues-data-table action="removeModel" issueId=issue.id tagName="tr" class="issues-data"}}
            <td class="mdl-data-table__cell--non-numeric">{{issue.customer_name}}&nbsp;{{issue.customer_surname}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{issue.email}}</td>
            <td class="mdl-data-table__cell--non-numeric table-date">{{time-formater issue.timestamp 'DD/MM/YYYY'}}</td>
            <td class="mdl-data-table__cell--non-numeric issue-status {{if issue.is_closed 'issue-closed'}}">
              {{#if issue.is_closed}}Closed
              {{else}}Open
              {{/if}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{issue.issue_desc}}</td>
          {{/issues-data-table}}
        {{/each}}
      </tbody>
    </table>
  </div>
</main>
